.root {
  position: relative;
  background: rgb(48, 48, 48);
  color: rgb(176, 176, 176);
  background-image: none;
  display: block;
  width: 100%;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px;
}
